<% provide(:title, 'ログイン') %>

<div class=" jumbotron top">
  <div class="before-login-container">
    <div class="row user_form">
      <h3 class='form-title center'>ログイン</h3>
      <div class="col-sm-6 col-sm-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label :メールアドレス, class:'form-label', id:'u-email-label' %>
        <%= f.email_field :email, class: 'form-control', id:'u-email' %>
        <%= f.label :パスワード, class:'form-label', id:'u-pass-label' %>
        <%= f.password_field :password, class: 'form-control', id:'u-pass' %>
        <div class="enter-btn">
          <input type="submit" value="ログイン" class="btn btn-lg btn-primary" id="u-btn" disabled><br>
          <%= link_to 'ゲストログイン', guest_login_path, method: :post, class:"btn btn-lg btn-primary guest" %>
        </div>
        <% end %>
        <p class='form-message center'>登録がお済みでない方は <%= link_to "こちら", signup_path %></p>
      </div>
    </div>
  </div>
</div>