<div class="admin_operation-wrapper">
  <div class="admin_operation">
    <%= button_to '＋ 新規登録', { controller: 'users', action: 'new' }, method: :get, remote: true, class:'btn-admin search'%>
    <div class="admin-search-wrapper">
      <div class="admin-search-title"> <i class="fas fa-search"></i> 検索フォーム</div>
      <div class="admin-search-form">
        <%= form_with url: admin_users_search_path, method: :get, local: true, id:"admin-operation-form" do |f| %>
        <div class="admin-operation-form-container">
          <%= f.label :name, 'ユーザー名', class:'form-label-login admin-label'%>
          <%= f.text_field :name, value: @search_params[:name], class: 'admin-index-search'%>
          <%= f.label :email, 'メールアドレス', class:'form-label-login admin-label'%>
          <%= f.text_field :email, value: @search_params[:email], class: 'admin-index-search'%>
          <%= f.label :category_id, '所属部署', class:'form-label-login admin-label'%>
          <%= f.collection_select :category_id, @categories, :id, :name, {include_blank: true, selected: @search_params[:category_id].to_i}, class: 'admin-index-search', id:'admin-search-user-category'%>
        </div>
        <button type="submit" class="btn-admin search admin-search-btn"> 検索 </button><br>
        <button type="submit" class="btn-admin admin-csv"> CSV出力 </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="admin-show-table">
  <% if @all_users.count == @count %>
  <div class="admin-count"><%= "全#{@all_users.count}件" %></div>
  <% else %>
  <div class="admin-count"><%= "#{@count}件 / 全#{@all_users.count}件中" %></div>
  <% end %>
  <table class="table table-hover">
    <thead>
      <th class="admin-user-name">
        ユーザー名
        <%= sort_asc('name', @search_params, true) %>
        <%= sort_desc('name', @search_params, true) %>
      </th>
      <th class="admin-user-email">
        メールアドレス
        <%= sort_asc('email', @search_params, true) %>
        <%= sort_desc('email', @search_params, true) %>
      </th>
      <th class="admin-user-category">
        所属部署
        <%= sort_asc('category_id', @search_params, true) %>
        <%= sort_desc('category_id', @search_params, true) %>
      </th>
      <th class="admin-user-btn"></th>
    </thead>
    <% @users.each do |u| %>
    <tr>
      <td><%= link_to u.name, admin_user_path(u), remote: true %></td>
      <td><%= u.email %></td>
      <td><%= u.category.name %></td>
      <td>
        <% unless u.email == "construction@guestuser.com" || u.email == "supply-demand@guestuser.com" %>
        <%= link_to edit_admin_user_path(u), remote: true do %>
        <i class="fa fa-edit"></i>
        <% end %>
        <%= link_to admin_user_path(u),
          data: { confirm: "本当に削除しますか?", method: :delete, remote: true } do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
        <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>

  <%= paginate @users, remote: true %>
</div>
<div class="user_modal"></div>