<!-- ボタン・リンククリック後に表示される画面の内容 -->
<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog" id="user-mdoal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="user-modal-header">
        <h2 class="modal-title user-modal-title" id="myModalLabel">
          登録情報編集
          <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right;">
            <i class="fa fa-2x fa-times"></i>
          </button>
        </h2>
      </div>
      <div class="modal-body edit-user-form">
        <%= form_for(@user, url: update_user_path(current_user)) do |f| %>
        <%= render "form", form_class: "form-label-login", f: f %>
        <section>
          <div class="panel-group" id="accordion">
            <div class="panel-heading" id="user-panel-heading">
              <h4 class="panel-title accordion-toggle">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  パスワードを変更する
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <%= f.label :password, 'パスワード', class:'form-label-login'%>
              <%= f.password_field :password, class: 'form-control' %>
              <%= f.label :password_confirmation, 'パスワード（確認用）', class:'form-label-login'%>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
          </div>
        </section>
        <%= f.submit "編集", class: "btn btn-loggedIn", id: "update-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('#update-btn').attr('disabled', false);
    $('#user_name').keyup(function() {
      if ($(this).val().length == 0) {
        console.log(window.sessionStorage.length)
        console.log("test")
        $('#update-btn').attr('disabled', true);
        $(this).css("border-color", "red")
        $("#user-name-label").css("color", "red")
        $("#user-name-label").html("ユーザー名<div style='float:right;margin-left:10px;font-size:13px;vertical-align: middle;'>※入力してください<div>")
      } else {
        $('#update-btn').attr('disabled', false);
        $(this).css("border-color", "")
        $("#user-name-label").css("color", "")
        $("#user-name-label").html("ユーザー名")
      }
    });
    $('#user_email').keyup(function() {
      if ($(this).val().length == 0) {
        console.log("test")
        $('#update-btn').attr('disabled', true);
        $(this).css("border-color", "red")
        $("#user-email-label").css("color", "red")
        $("#user-email-label").html("メールアドレス<div style='float:right;margin-left:10px;font-size:13px;vertical-align: middle;'>※入力してください<div>")
      } else {
        $('#update-btn').attr('disabled', false);
        $(this).css("border-color", "")
        $("#user-email-label").css("color", "")
        $("#user-email-label").html("メールアドレス")
      }
    });
  });
</script>