<% if @user.constructions.blank? %>
<div class="nodata-wrapper">
  <div class="nodata">登録情報なし</div>
</div>
<% else %>
<table class="table table-hover" style="width: 90%;">
  <thead>
    <th>工事名</th>
    <th>現状況</th>
    <% if admin.blank? %>
    <th>制約設備</th>
    <th>制約油種</th>
    <% end %>
    <th>開始日時</th>
    <th>終了日時</th>
  </thead>
  <tbody>
    <% @user.constructions.each do |c| %>
    <tr>
      <td style="width:25%">
        <% if admin.blank? %>
        <%= link_to c.name, construction_path(c), remote: true %>
        <% else %>
        <%= c.name %>
        <% end %>
      </td>
      <td style="width:15%"><%= @status.find(c.status_id).name %></td>
      <% if admin.blank? %>
      <td style="width:15%">
        <% if c.facility_id.present? %>
        <%= c.facility.name%>
        <% else %>
        ―
        <% end %>
      </td>
      <td style="width:15%"><%= c.oil.name %></td>
      <% end %>
      <td style="width:15%">
        <%= c.start_at.strftime("%Y/%m/%d") %><br>
        <%= c.start_at.strftime("%H:%M") %>
      </td>
      <td style="width:15%">
        <%= c.end_at.strftime("%Y/%m/%d") %><br>
        <%= c.end_at.strftime("%H:%M") %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @constructions, render: true %>
<% end %>