<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog" id="user-modal-dialog">
    <div class="modal-content">

      <div class="modal-header" id="user-modal-header">
        <div class="modal-title user-modal-title" id="myModalLabel">
          登録情報編集
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right;">
          <i class="fa fa-2x fa-times"></i>
        </button>
      </div>
      <div class="modal-body edit-user-form">
        <%= form_for(@user, url: update_user_path(current_user)) do |f| %>
        <%= render "form", form_class: "form-label-login", f: f %>
        <section>
          <div class="panel-group" id="accordion">
            <div class="panel-heading" id="user-panel-heading">
              <h4 class="panel-title accordion-toggle">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  パスワードを変更する
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <%= f.label :password, 'パスワード', class:'form-label-login'%>
              <%= f.password_field :password, class: 'form-control' %>
              <%= f.label :password_confirmation, 'パスワード（確認用）', class:'form-label-login'%>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
          </div>
        </section>
        <%= f.submit "編集", class: "btn btn-loggedIn", id: "u-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>