<% provide(:title, '新規登録') %>

<div class="jumbotron top">
  <div class="before-login-container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 user-new user_form">
        <h3 class='form-title center'>新規登録</h3>

        <%= form_for(@user, url: signup_path) do |f| %>
        <%= render "form", form_class: "form-label", f: f %>

        <%= f.label :password, 'パスワード', class:'form-label', id:'u-pass-label'%>
        <%= f.password_field :password, class: 'form-control', id:'u-pass' %>

        <%= f.label :password_confirmation, 'パスワード（確認用）', class:'form-label', id:'u-pass-c-label'%>
        <%= f.password_field :password_confirmation, class: 'form-control', id:'u-pass-c' %>
        <div class="enter-btn">
          <input type="submit" value="登録" class="btn btn-primary" id="u-btn" disabled>
        </div>

        <% end %>
        <p class='form-message center'>登録がお済みの方は <%= link_to "こちら", login_path %></p>
      </div>
    </div>
  </div>
</div>