<% provide(:title, 'ユーザー登録情報') %>

<div class="container">
  <h2 class="title">ユーザー登録情報</h2>

  <div class="user-info-wrapper">
    <% if @user.admin? %>
    <span style="font-size: 14px;">【管理者】</span><br>
    <% else %>
    <span>【一般】</span><br>
    <% end %>
    <ul class="user-info">
      <li>氏名：<%= @user.name %></li><br>
      <li>メールアドレス：<%= @user.email %></li><br>
      <li>所属部署：<%= @user.category.name %></li>
    </ul>
    <% if @user == current_user && @user.email != "guestuser@example.com" %>
    <div class="btn-list">
      <%= link_to "編集", edit_user_path(@user),data: { method: :get, remote: true }, class:"btn-user-edit edt-btn" %>
      <%= link_to "削除", @user, method: :delete, data: { confirm: "本当に削除しますか?" }, class:"btn-user-edit dlt-btn" %>
    </div>
    <% end %>
  </div>
  <div class="related-info-wrapper">
    <% if @user.category_id == 6 %>
    <div class="related-info-container">
      <div class="related-info row">
        <div class="col-sm-4">
          <%= link_to "担当荷役 (#{@user.orders.count})", user_path(@user),
          data: { value: :orders, method: :get, remote: true }, class:"current" %>
        </div>
        <div class="col-sm-4">
          <%= link_to "ブックマークした工事 (#{@orders_constructions.count})", user_path(@user), data: { value: :orders_construction, method: :get, remote: true } %>
        </div>
        <div class="col-sm-4">
          <%= link_to "投稿コメント (#{@user.orders.count})", user_path(@user), data: { value: :comments, method: :get, remote: true } %>
        </div>
        <span id="slide-line"></span>
      </div>
    </div>
    <% else %>
    <div class="related-info-container">
      <div class="related-info row">
        <div class="col-sm-6">
          <%= link_to "担当工事 (#{@constructions.count})", user_path(@user), data: { value: :constructions, method: :get, remote: true} , class:"current" %>
        </div>
        <div class="col-sm-6">
          <%= link_to "投稿コメント (#{@user.orders.count})", user_path(@user), data: { value: :comments, method: :get, remote: true } %>
        </div>
        <span id="slide-line"></span>
      </div>
    </div>
    <% end %>
  </div>

  <div id="info-table-partial">
    <% if @user.category_id == 6 %>
    <%= render 'orders' %>
    <% else %>
    <%= render 'constructions' %>
    <% end %>
  </div>
</div>

<div class="user_form"><%= render 'edit' %></div>
<div class="construction_modal"></div>
<div class="order_modal"></div>