<% provide(:title, '荷役設備登録') %>

<div class="container">
  <h2 class="title">入出荷設備登録</h2>

  <div class="row facility-row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_for(@facility, url: facility_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object  %>

      <%= f.label :name, '設備名', class:'form-label-login'%>
      <%= f.text_field :name, class: 'form-control' %>
      <%= render 'form', f: f  %>

      <%= f.submit "登録", class: "btn btn-loggedIn" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function() {
    var a_props = {
      "color": "#000000",
      "font-weight": "bold",
      "text-decoration": "none",
      "background-color": "#f0f0f0"
    };
    $('#facil_new a').css(a_props);
  });
</script>