<% provide(:title, '入出荷設備登録') %>

<div class="container">
  <div class="title">
    <h1>入出荷設備登録</h1>
  </div>

  <div class="row facility-row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@facility, url: facility_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object  %>

      <%= f.label :name, '設備名', class:'form-label-login'%>
      <%= f.text_field :name, class: 'form-control' %>
      <%= render 'form', f: f  %>
      <div class="links">
        <%= link_to_add_association '油種を追加', f, :relate_to_oils,
            class: 'btn btn-default'%>
      </div>

      <%= f.submit "登録", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

</div>