<% provide(:title, 'オーダー登録') %>

<div class="container">
  <h1 class="title">オーダー登録</h1>
  <%= form_for(@order, url: new_order_path) do |f| %>
  <div class="row order-row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= render 'shared/error_messages', object: f.object %>
    </div>

    <div class="row row-order-form">
      <div class="col-sm-5">

        <%= f.label :name, '船名', class:'form-label-login'%>
        <%= f.text_field :name, placeholder: "入力してください", class: 'form-control' %>

        <div class=" form-group">
          <%= f.label :shipment, '入出荷', class:'form-label-login'%>
          <%= f.select :shipment, options_for_select([['出荷'], ['入荷']]),
                                  {include_blank: "-- 選択してください --"}, class: 'form-control' %>
        </div>

        <%= f.label :company_name, '取引先会社名', class:'form-label-login'%>
        <%= f.text_field :company_name, placeholder: "入力してください", class: 'form-control' %>

        <div class=" form-group">
          <%= f.label :facility_id, '対象設備', class:'form-label-login'%>
          <%= select_tag 'order[facility_id]', options_for_select(Facility.all.map{ |fa| [fa.name, fa.id] }),include_blank: "-- 選択してください --", class:"form-control", id: 'facility-select' %>
        </div>
      </div>

      <div class=" col-sm-5">
        <div class=" form-group">
          <%= f.label :oil_id, '油種', class:'form-label-login'%>
          <select name="order[oil_id]" id="oil-select" class="form-control">
            <option value="">-- 選択してください --</option>
          </select>
        </div>

        <div class="form-group">
          <%= f.label :unit, '数量・単位', class:'form-label-login'%>
          <div class="row">
            <div class="col-sm-7">
              <%= f.number_field :quantity, placeholder: "入力してください", class: 'form-control', min: 1, id: "number" %>
            </div>
            <div class="col-sm-5">
              <%= f.select :unit, options_for_select([['kL'], ['t']]),
                                  {include_blank:  "-- 選択してください --"}, class: 'form-control' %>
            </div>
          </div>
        </div>

        <%= f.label :arrive_at, '荷役作業日時', class:'form-label-login'%>
        <div class="row">
          <div class="col-sm-7">
            <input class="form-control" type="date" name="order[arrive_at_date]">
          </div>
          <div class="col-sm-5 time">
            <%= f.time_select :arrive_at, minute_step: 10, class: 'form-control' %>
          </div>
        </div>

        <div class=" form-group">
          <%= f.label :user_id, '担当者', class:'form-label-login'%>
          <%= f.collection_select :user_id, User.all, :id, :name,
                                  {include_blank: "-- 選択してください --", selected: current_user.id},
                                  class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
  <%= f.submit "登録", class: "btn btn-loggedIn col-sm-6 col-sm-offset-3" %>
  <% end %>
</div>

<script>
  $(function() {
    var id = '<%= current_user.category_id %>';
    $('#facility-select').change(function() {
      $.get({
        url: "/id/order/oil",
        data: {
          facility_id: $('#facility-select').has('option:selected').val()
        },
      });
    });
  });
</script>