<div class="modal fade" id="constructionNewModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog" id="construction-new-modal-dialog">
    <div class="modal-content" id="construction-modal-content">
      <% if @construction.present? %>
      <div class="modal-header" id="construction-modal-header">
        <div class="modal-title construction-modal-title" id="myModalLabel">
          工事登録
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right;">
          <i class="fa fa-2x fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="construction-new-content">
          <%= form_for(@construction) do |f| %>
          <%= render 'shared/error_messages', object: f.object %><br>
          <div id="new-construction-form">
            <div id="construction-new-left">
              <%= f.label :name, '工事名*', class:'form-label-login', id:"c-new-name-label" %>
              <%= f.text_field :name, placeholder: "入力してください", class: 'form-control', id:"c-new-name" %>
              <div class=" form-group select">
                <%= f.label :status_id, '現状況*', class:'form-label-login'%>
                <%= f.collection_select :status_id, @status, :id, :name, {}, class: 'form-control' %>
              </div>
              <div class=" form-group">
                <%= f.label :facility_id, '設備制約', class:'form-label-login'%>
                <%= f.collection_select :facility_id, @facility, :id, :name,
                                  {include_blank: "選択しない"}, class: 'form-control' %>
              </div>
              <div class=" form-group">
                <%= f.label :oil_id, '油種制約*', class:'form-label-login'%>
                <%= f.collection_select :oil_id, @selected_oils, :id, :name, {}, class: 'form-control' %>
              </div>
            </div>

            <div id="construction-new-right">
              <%= f.label :start_at, '工事開始日時*', class:'form-label-login'%>
              <div class="row">
                <div class="col-sm-7">
                  <input class="form-control" type="date" name="construction[start_at_date]" id="construction_status" value="<%= @start_at_date %>" style='width:285px;'>
                </div>
                <div class="col-sm-5 time">
                  <%= f.time_select :start_at, {default: Date.today + 8.hours, minute_step: 30}, class: 'form-control time' %>
                </div>
              </div>
              <%= f.label :end_at, '工事終了日時*', class:'form-label-login'%>
              <div class="row">
                <div class="col-sm-7">
                  <input class="form-control" type="date" name="construction[end_at_date]" id="construction_status" value="<%= @start_at_date %>" style='width:285px;'>
                </div>
                <div class="col-sm-5 time">
                  <%= f.time_select :end_at, {default: Date.today + 17.hours, minute_step: 30}, class: 'form-control time' %>
                </div>
              </div>
              <div class=" form-group">
                <%= f.label :user_id, '担当者*', class:'form-label-login'%>
                <%= f.collection_select :user_id, @user, :id, :name,
                                  { selected: current_user.id }, class: 'form-control' %>
              </div>
              <%= f.label :notice, '特記事項', class:'form-label-login '%>
              <%= f.text_area :notice, placeholder: "任意", class: 'form-control notice' %>
            </div>
          </div>
          <input type="submit" value="登録" class="btn btn-loggedIn" id="c-new-btn" disabled>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>