<% provide(:title, '工事一覧') %>

<div class="container">
  <h2 class="title title-const-index">工事一覧</h2>
  <div class="constructions-container">
    <%= form_with url: constructions_search_path, method: :get, local: true do |f| %>
    <table class="table table-hover">
      <thead>
        <th>工事名</th>
        <th>
          <select name="status" class="index-search">
            <option value=""></option>
            <% @status.each do |s| %>
            <% if s.id == @search_params[:status].to_i %>
            <option value="<%= s.id %>" selected>
              <% else %>
            <option value="<%= s.id %>">
              <% end %>
              <%= s.name %>
            </option>
            <% end %>
          </select>
          <br>
          現状況
          <%= sort_asc('status', @search_params) %>
          <%= sort_desc('status', @search_params) %>
        </th>
        <th>
          <select name="facility_id" class="index-search">
            <option value=""></option>
            <% @facility_id.each do |c| %>
            <% if c.facility_id.present? && c.facility.id == @search_params[:facility_id].to_i %>
            <option value="<%= c.facility.id %>" selected>
              <%= c.facility.name %>
              <% elsif c.facility_id.present? %>
            <option value="<%= c.facility.id %>">
              <%= c.facility.name %>
              <% end %>
            </option>
            <% end %>
          </select>
          制約設備
          <%= sort_asc('facility_id', @search_params) %>
          <%= sort_desc('facility_id', @search_params) %>
        </th>
        <th>
          <select name="oil_id" class="index-search">
            <option value=""></option>
            <% @oil_id.each do |c| %>
            <% if c.oil.id == @search_params[:oil_id].to_i %>
            <option value="<%= c.oil.id %>" selected>
              <% else %>
            <option value="<%= c.oil.id %>">
              <% end %>
              <%= c.oil.name %>
            </option>
            <% end %>
          </select>
          <br>
          制約油種
          <%= sort_asc('oil_id', @search_params) %>
          <%= sort_desc('oil_id', @search_params) %>
        </th>
        <th>
          <input type="date" value="<%= @search_params[:start_at_date] %>" name="start_at_date" class="index-search-time">
          <%= f.date_select :start_at, discard_year: true, discard_month: true, discard_day: true %> <br>
          開始日時
          <%= sort_asc('start_at', @search_params) %>
          <%= sort_desc('start_at', @search_params) %>
        </th>
        <th>
          <input type="date" value="<%= @search_params[:end_at_date] %>" name="end_at_date" class="index-search-time">
          <%= f.date_select :end_at, discard_year: true, discard_month: true, discard_day: true %>
          <br>
          終了日時
          <%= sort_asc('end_at', @search_params) %>
          <%= sort_desc('end_at', @search_params) %>
        </th>
        <th>
          <button name="export_csv" type="submit" class="btn-search csv">
            CSV出力
          </button>
          <br> <br>
          <%= f.submit '検索', class: 'btn-search search' %><br>
          特記事項
        </th>
      </thead>

      <% @construction.each do |c| %>
      <tr>
        <td style="width:18%"><%= link_to c.name, construction_path(current_user, c) %></td>
        <td style="width:15%"><%= @status.find(c.status).name %></td>
        <td style="width:17%">
          <% if c.facility_id.present? %>
          <%= c.facility.name%>
          <% else %>
          ―
          <% end %>
        </td>
        <td style="width:17%"><%= c.oil.name %></td>
        <td style="width:7%">
          <%= c.start_at.strftime("%Y/%-m/%-d") %><br>
          <%= c.start_at.strftime("%-H:%M") %>
        </td>
        <td style="width:7%">
          <%= c.end_at.strftime("%Y/%-m/%-d") %><br>
          <%= c.end_at.strftime("%-H:%M") %>
        </td>
        <td style="width:14%"><%= c.notice %></td>
      </tr>
      <% end %>
  </div>
  </table>
  <% end %>
  <%= will_paginate @construction, previous_label: '← 前', next_label: '次 →'%>
</div>

<script>
  $(function() {
    var a_props = {
      "color": "#000000",
      "font-weight": "bold",
      "text-decoration": "none",
      "background-color": "#f0f0f0"
    };
    $('#const_index a').css(a_props);
  });
</script>