<%= form_for @user, url: admin_users_path, remote: true do |f| %>
<%= render "users/form", form_class: "form-label-login", f: f %>
<%= f.label :password, 'パスワード', class:'form-label-login', id:'u-pass-label'%>
<%= f.password_field :password, class: 'form-control', id:'u-pass' %>
<%= f.label :password_confirmation, 'パスワード（確認用）', class:'form-label-login', id:'u-pass-c-label'%>
<%= f.password_field :password_confirmation, class: 'form-control', id:'u-pass-c' %>
<div class="enter-btn">
  <input type="submit" value="登録" class="btn btn-loggedIn" id="u-btn" disabled>
</div>
<% end %>