<% if logged_in? %>
<header class="navbar navbar-fixed-top navbar-custom-loggedIn">
  <%= link_to "需給管理システム", calendar_index_path(current_user), id: "logo-loggedIn" %>
  <nav>
    <ul class="nav navbar-right navbar-loggedIn">
      <li><%= link_to "ログイン中：#{@current_user.name}", @current_user, id: "user" %></li>
      <li><%= link_to "ログアウト", logout_path, method: :delete, id: "logout" %></li>
    </ul>
  </nav>
</header>

<% else %>

<header class="navbar navbar-fixed-top navbar-custom ">
  <div class="before-login-container">
    <%= link_to "需給管理システム", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "新規登録", signup_path %></li>
        <li><%= link_to "ログイン",  login_path %></li>
      </ul>
    </nav>
  </div>
</header>

<% end %>