<div id="subheader">
  <ul class="menu">
    <li><%= link_to "ホーム", "#"%></li>
    <li><%= link_to "日程詳細", "#"%></li>
    <li><%= link_to "オーダー登録", "#"%></li>
    <li><%= link_to "工事一覧", constructions_path%></li>
    <li><%= link_to "工事登録", new_construction_path(current_user)%></li>
    <li><%= link_to "入出荷設備登録", facility_path%></li>
  </ul>
</div>