<div id="subheader">
  <ul class="menu">
    <li id="home"><%= link_to "ホーム", calendar_index_path %></li>
    <li id="calendar"><%= link_to "日程詳細", calendar_show_path %></li>
    <li id="order_index"><%= link_to "オーダー一覧", orders_path %></li>
    <li id="const_index"><%= link_to "工事一覧", constructions_path %></li>
    <li id="facil_new"><%= link_to "荷役設備登録", facility_path %></li>
  </ul>
</div>